$mainBackgroundColor: #dae1ea;
$mainTextColor: #090909;
$mainDarkBlueColor: #122e3c;
$placeholderColor: #66696e;
$inputHeight: 40px;
$inputWidth: 300px;
$paddingXAxis: 10px;
$listItemsCount: 4;

@mixin mainBoxStyle {
  border: 1px solid rgba(white, 0.7);
  border-radius: 10px;
  background-color: $mainBackgroundColor;
  color: $mainDarkBlueColor;
}

.dropdown {
  width: $inputWidth;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1rem;

  &-toggle {
    position: relative;

    input {
      all: unset;
      width: 100%;
      height: $inputHeight;
      text-indent: $paddingXAxis;
      padding-top: 10px;
      box-shadow: 0 0 10px 0 rgba(22, 22, 22, 0.15);
      @include mainBoxStyle;

      &::placeholder {
        color: $placeholderColor;
      }
    }

    &-arrow {
      position: absolute;
      display: flex;
      top: 50%;
      right: $paddingXAxis;
      pointer-events: none;
      transform: translateY(-50%);
      transition: transform .5s ease;

      &.active {
        transform: translateY(-50%) rotateX(180deg);
      }

      svg {
        width: 15px;
        height: 20px;
      }
    }
  }

  &-menu {
    max-height: calc(#{$listItemsCount * $inputHeight});
    width: 100%;
    margin: 16px 0 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    @include mainBoxStyle;
    transition: opacity .5s ease, visibility .5s step-end;

    &.active {
      opacity: 1;
      visibility: visible;
      transition: opacity .5s ease, visibility .5s step-start;
    }

    &-item {
      padding: 0 $paddingXAxis;
      height: $inputHeight;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color .2s ease, color .2s ease;

      &:hover, &.selected {
        background-color: $mainDarkBlueColor;
        color: white;
      }
    }

    .no-data {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 40px 20px;

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}